div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 10em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 0%; /* this makes the normally square div round */
  border-left-color: red; /* these remove the color from the left side */
  border-right-color: blue; /* the right side */
  border-bottom-color: green; /* and the bottom of the circle */
}
